/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  }
}
.navbar {
  min-height: 80px;
}
.navbar.navbar-inverse.navbar-fixed-top {
  background-color: #162952;
}
.navbar .container {
  padding-top: 10px;
  padding-bottom: 12px;
  position: relative;
}

.thumbnail {
  padding: 0;
}


.navbar-inverse {
  background-color: #f5f5f5;
}

.caption h4 a {
  font-family: 'Montserrat', 'sans-serif';
}

.event-list {
  padding-top: 80px;
  height: auto;
}

/*.jumbotron {
  padding: 0px;
  margin-bottom: 30px;
  font-size: 21px;
  font-weight: 200;
  line-height: 2.14286;
  color: inherit;
  background-color: rgb(238, 238, 238);
}*/

footer {
  height: 100px;
  background-color: #162952;
  bottom: 0;
  position: relative;
  width: 100%;
}

.identification {
  padding-top: 30px;
  text-align: center;
  color: #fff;
}

.col-xs-3 {
  padding-right: 7px;
  padding-left: 7px;
  padding-bottom: 15px;
}

.event-details {
  background: none repeat scroll 0% 0% rgb(238, 238, 238);
}

.date {
  padding: 3px;
  font-size: 14px;
  font-family: 'Oswald', 'sans-serif';
  color: #4d4d4d;
}
.date span {
  color: #cd9b00;
}

.city {
  padding: 7px 3px 3px 3px;
  font-size: 14px;
  font-family: 'Oswald', 'sans-serif';
  color: #4d4d4d;
}

.city span{
  color:#004696;
}
